.testimonials {
  text-align: center;

  &__heading {
    font-size: 3rem;
    @media screen and (min-width: $bp-desktop) {
      font-size: 4rem; 
      letter-spacing: -0.02em;
    }
  }

  &__list {
    height: 265px;
    margin-top: 10rem;
    @media screen and (min-width: $bp-desktop) {
      position: static;
      display: flex;
      width: 600px * 4; 

      > li + li {
        margin-left: 3rem;
      }

      animation: slide 15s linear infinite alternate;
    } @keyframes slide {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-(2400px - 1440px));
      }
    }
  }
}

.testimonial {
  margin: 0 2rem;
  padding: 5rem 0;
  background-color: $very-light-gray;
  border-radius: .5rem;
  position: relative;

  @media screen and (min-width: $bp-desktop) {
    max-width: 600px;
    margin: 0;
    min-height: 216px;
  }

  &__avatar {
    width: 7rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__user {
    font-size: 1.6rem;
    line-height: 2;
  }

  &__review {
    font-size: 1.4rem;
    color: $dark-grayish-blue;
    max-width: 85%;
    margin: 0 auto;
    line-height: 2;
  }
}